footer {
    color: var(--222222, #222);
    min-width: 1024px;
    max-width: 1440px;
    margin: 0 auto;
    flex-shrink: 0;
}

footer>section>.footerTop>.utilBtm {
    margin: 0 auto 10px auto;
    width: 1024px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    padding-top: 20px;
}

footer>section>.footerTop>.utilBtm>dd {
    padding-right: 20px;
}

footer>section>.footerTop>.utilBtm>dd>a {
    color: #282626;
    font-weight: bold;
    font-size: 18px;
}

footer>section {
    width: 1440px;
    background: #D3D3D3;
    margin: 0 auto;
}

footer>section>.footerBottom {
    width: 1024px;
    padding: 20px 0;
    align-items: center;
    flex-shrink: 0;
    margin-left: 200px;
    margin: 0 auto;

}

footer>section>.footerBottom>p {
    font-size: 16px;
    line-height: 26px;
}

footer>section>.footerBottom>p>span {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #a1a1a1;
}

footer>section>.footerBottom>.contect {
    margin: 10px 0;
    display: flex;
}

footer>section>.footerBottom>.contect>p {
    margin-right: 42px;
    line-height: 30px;
}


footer>section>.footerBottom>.contect>p>span {
    margin-right: 6px;
}